@model List<Message>
@{
    ViewData["Title"] = "Lixeira Page";
    Layout="_Layout_3";
    var todas = Model;
    var lidas = new List<Message>();
    var naolidas = new List<Message>();
    if(todas != null)
    {
        todas.ForEach(msg => msg.Sender = msg.Sender.Count() <= 15 ? msg.Sender : string.Format(msg.Sender.Substring(0, 15)) + "...");
        lidas =  todas.Where(msg => msg.ViewedTime.HasValue).ToList();
        naolidas = todas.Where(msg => !msg.ViewedTime.HasValue).ToList();
    }
}
<link href="~/assets/css/custom.css" rel="stylesheet"/>
<div class="panel-header">
    <div class="page-inner ml-0 ml-md-5 py-0 py-sm-1 py-md-3 py-lg-4">
        <div class="container-fluid align-items-center">
            <div class="row ">
                <div class="order-md-0 col-sm-5 col-md-6  col-lg-6 d-md-flex d-none">
                    <div>
                        <h1 class="text-white pb-2 fw-bold">Lixeira</h1>
                        <h4 class="text-white op-8 mb-2 fw-bold">Veja todas as suas mensagens apagadas.</h4>
                    </div>
                </div>
                <div class="order-md-1 col-md-4 d-flex align-items-center justify-content-center">
                    <div class="form-group col-12">
                        <div class="input-icon">
                            <span class="input-icon-addon text-white">
                                <i class="fa fa-search search-icon"></i>
                            </span>
                            <input type="text" id="pesquisa" class="form-control input-pill text-white border border-white font-weight-bold" placeholder="Digite Remetente ou Email">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="justify-content-center d-flex mb-4">
    <ul class="nav nav-line nav-color-default col-12 col-md-10" id="nav-tab">
        <div class="ml-md-auto order-3 d-none align-items-center msgAll">
            <a class="nav-link text-white" href="javascript:void(0)" onclick="apagarvarios()"><i class="fas fa-trash" data-toggle="tooltip" data-placement="bottom" title="Apagar todas mensagens marcadas"></i></a>
            <a class="nav-link text-white" href="javascript:void(0)" onclick="marcarvariascomolida()"><i class="fas fa-envelope-open" data-toggle="tooltip" data-placement="bottom" title="Marcar como lidas todas mensagens marcadas"></i></a>
        </div>
    </ul>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!--TODAS AS MENSAGENS-->
    <div class="tab-pane active show" id="nav-todas" role="tabpanel" aria-labelledby="todas">
        <div class="container-fluid col-md-11">
        @if(todas.Count > 0){
            <a class="markmsg text-white font-weight-bold nav-link" onclick="marcar_todas(this)" href="javascript:void(0)" style="display:inline;">Marcar todas</a>
            @foreach (var item in todas)
            {         
                @if(!item.ViewedTime.HasValue){
                    @*Mensagens Não Lidas*@
                    <div class="card blackHover bg-dark py-0 my-2">
                        <div class="card-body py-0">                            
                            <div class="row"> 
                                <div class="form-group col-md-3">               
                                    <div class="custom-control custom-checkbox py-0">
                                        <input type="checkbox" class="naolida custom-control-input msg" id="@string.Format("ln"+item.Messagecode)" value="@item.Messagecode">
                                        <label class="custom-control-label my-0 py-0 text-white font-weight-bold" for="@string.Format("ln"+item.Messagecode)">@item.Sender</label>
                                    </div>
                                </div>  
                                <div class="form-group col-md">
                                   <a asp-action="MessagePageTrash" class="nav-link py-0" asp-route-messagecode="@item.Messagecode"><span class="text-white font-weight-bold align-middle">@item.Description.Substring(0,50)...</span></a> 
                                </div>   
                                <div class="form-group ml-auto col-6  col-md-4 text-right">
                                    <div class="botoes" hidden>
                                        <a asp-action="RestoreMessage" asp-route-messagecode="@item.Messagecode" data-toggle="tooltip" data-placement="bottom" title="Restaurar mensagens">
                                            <i class="fas far fa-window-restore mr-4 align-middle text-white" style="font-size:18px;"></i>
                                        </a>
                                        <a href="javascript:void(0)" onclick="apagar(@item.Messagecode)" data-toggle="tooltip" data-placement="bottom" title="Apagar mensagem">
                                            <i class="fas fa-trash mr-4 align-middle text-white" style="font-size:18px;"></i>
                                        </a>
                                        <a href="javascript:void(0)" onclick="marcarcomolida(@item.Messagecode)" data-toggle="tooltip" data-placement="bottom" title="Marcar como lida">
                                            <i class="fas fa-envelope-open mr-3 align-middle text-white" style="font-size:18px;"></i>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <span class="text-white font-weight-bold align-middle">@item.TimeReceived.ToString("HH:mm dd.MM.yyyy")</span>                           
                                        <span class="text-white font-weight-bold align-middle">Não lida</span>
                                    </div>
                                </div>                    
                            </div>                 
                        </div>
                    </div>
                }
                else{
                    @*Mensagens Lidas*@
                    <div class="card whiteHover bg-white py-0 my-2">
                        <div class="card-body py-0">                            
                            <div class="row"> 
                                <div class="form-group col-md-3">               
                                    <div class="custom-control custom-checkbox py-0">
                                        <input type="checkbox" class="lida custom-control-input msg" id="@string.Format("ln"+item.Messagecode)" value="@item.Messagecode">
                                        <label class="custom-control-label my-0 py-0 text-dark font-weight-bold" for="@string.Format("ln"+item.Messagecode)">@item.Sender</label>
                                    </div>
                                </div>  
                                <div class="form-group col-md">
                                    <a asp-action="MessagePageTrash" class="nav-link py-0" asp-route-messagecode="@item.Messagecode"><span class="text-dark font-weight-bold align-middle">@item.Description.Substring(0,50)...</span></a>
                                </div>   
                                <div class="form-group ml-auto col-6 col-md-4 text-right">
                                    <div class="botoes" hidden>
                                        <a asp-action="RestoreMessage" asp-route-messagecode="@item.Messagecode" data-toggle="tooltip" data-placement="bottom" title="Restaurar mensagens">
                                            <i class="fas far fa-window-restore mr-4 align-middle text-dark" style="font-size:18px;"></i>
                                        </a>
                                        <a href="javascript:void(0)" onclick="apagar(@item.Messagecode)" data-toggle="tooltip" data-placement="bottom" title="Apagar mensagem">
                                            <i class="fas fa-trash mr-4 align-middle text-dark" style="font-size:18px;"></i>
                                        </a>
                                        <a href="javascript:void(0)" onclick="marcarcomolida(@item.Messagecode)" data-toggle="tooltip" data-placement="bottom" title="Marcar como lida">
                                            <i class="fas fa-envelope-open mr-3 align-middle text-dark" style="font-size:18px;"></i>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <span class="text-dark font-weight-bold align-middle">@item.TimeReceived.ToString("HH:mm dd.MM.yyyy")</span>
                                        <span class="text-dark font-weight-bold align-middle">Lida às @item.ViewedTime?.ToString("HH:mm dd.MM.yyyy")</span>     
                                    </div>                                        
                                </div>                    
                            </div>                 
                        </div>
                    </div>  
                }
            }
        }else{
             <h1 class="mt-5 font-weight-bold text-center">A lixeira está vazia</h1>
        }
        </div> 
    </div> 
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Tmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-warning">
            <div class="modal-body modal-dialog-scrollable">
                <div id="modal" class="container-fluid"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Tmodal2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-warning">
            <div class="modal-body modal-dialog-scrollable">
                <div id="modal2" class="container-fluid">
                    <h2 id="titleText" class="font-weight-bold text-dark text-center"></h2>
                    <div class="text-center p-4">
                        <h1 class="fa fa-trash-alt text-dark display-1"></h1>
                    </div>
                    <div class="col-12 ml-auto mr-auto text-center" role="alert">
                        <h2 class="text-dark" id="bodyText"></h2>
                    </div>
                    <div class="mt-5 float-right">
                        <input type="button" class="btn btn-sm btn-outline-light text-dark font-weight-bold border-0 mr-2" data-dismiss="modal" value="DESISTIR" />
                        <input id="buttonMarkALL" type="submit" onclick="submitALL()" value="" class="btn btn-dark btn-sm font-weight-bold" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/trash.js"></script>